<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/about.css" />
    <title>Document</title>
</head>

<body>
    <div class="container">
        <!-- <img class="image" src="../images/TS_Eras_Tour_pink_gown_full.webp" alt="Taylor Swift Eras Tour"/> -->
        <div class="heading-container">
            <h2>Taylor Alison Swift</h2>
            <div class="links">
                <a class="link" href="/">Home</a>
                <a class="link" href="/works">Works</a>
                <a class="link" href="/photos">Photo Gallery</a>
            </div>
        </div>

        <div class="content-container">
            <p>
                Taylor Alison Swift (born December 13, 1989) is an American singer-songwriter. Her songwriting,
                artistry,
                and
                entrepreneurship have vastly influenced the music industry and popular culture, and her life is a
                subject of
                widespread media coverage.

                Swift began writing songs professionally at age 14 and signed with Big Machine Records in 2005 to become
                a
                country singer. She released six studio albums under the label, four of them to country radio, starting
                with
                Taylor Swift (2006). Her next, Fearless (2008), explored country pop, and its singles "Love Story" and
                "You
                Belong with Me" catapulted her to mainstream fame. Speak Now (2010) infused rock influences, while Red
                (2012)
                experimented with electronic elements and featured Swift's first Billboard Hot 100 number-one song, "We
                Are
                Never Ever Getting Back Together". She departed from her country image with 1989 (2014), a synth-pop
                album
                supported by the chart-topping songs "Shake It Off", "Blank Space", and "Bad Blood". Media scrutiny
                inspired
                the
                hip-hop-influenced Reputation (2017) and its number-one single "Look What You Made Me Do".

                After signing with Republic Records in 2018, Swift released the eclectic pop album Lover (2019) and the
                autobiographical documentary Miss Americana (2020). She explored indie folk styles on the 2020 albums
                Folklore
                and Evermore, subdued electropop on Midnights (2022), and re-recorded four albums subtitled Taylor's
                Version
                after a dispute with Big Machine. These albums spawned the number-one songs "Cruel Summer", "Cardigan",
                "Willow", "Anti-Hero", "All Too Well", and "Is It Over Now?". Her Eras Tour (2023–2024) and its
                accompanying
                concert film became the highest-grossing tour and concert film of all time, respectively. Swift has
                directed
                music videos and films such as All Too Well: The Short Film (2021).

                One of the world's best-selling musicians, with 200 million records sold, Swift has been honored as the
                Global
                Recording Artist of the Year three times by the International Federation of the Phonographic Industry.
                She
                is
                the highest-grossing female touring act, the most-streamed woman on Spotify and Apple Music, and the
                first
                billionaire with music as the main source of income. The 2023 Time Person of the Year, Swift has
                appeared on
                lists such as Rolling Stone's 100 Greatest Songwriters of All Time, Billboard's Greatest of All Time
                Artists,
                and Forbes' World's 100 Most Powerful Women. Her accolades include 12 Grammy Awards, a Primetime Emmy
                Award,
                40
                American Music Awards, 40 Billboard Music Awards, and 23 MTV Video Music Awards. Swift is a
                philanthropist
                and
                an advocate for artists' rights and women's empowerment.
            </p>

            <h3>Achievements</h3>
            <p>
                Swift's discography is a "critically hailed songbook", as per Time's Sam Lansky.[432] She has won 12
                Grammy
                Awards (including three for Album of the Year—tying for the most by an artist),[433] an Emmy Award,[434]
                40
                American Music Awards (the most won by an artist),[435] 39 Billboard Music Awards (the most won by an
                artist—tying with Drake),[436] 118 Guinness World Records,[437] 23 MTV Video Music Awards (including
                four
                Video
                of the Year wins—the most by an act),[252] 12 Country Music Association Awards (including the Pinnacle
                Award),[438] eight Academy of Country Music Awards,[439] and two Brit Awards.[168] As a songwriter, she
                has
                been
                honored by the Nashville Songwriters Association,[62][440] the Songwriters Hall of Fame, and the
                National
                Music
                Publishers' Association and was the youngest person on Rolling Stone's list of the 100 Greatest
                Songwriters
                of
                All Time in 2015.[441][442] At the 64th BMI Awards in 2016, Swift was the first woman to be honored with
                an
                award named after its recipient.[443]

                Commercially, from available data, Swift has amassed over 50 million album sales and 150 million single
                sales as
                of 2019,[444][445][446] and 114 million units globally, including 78 billion streams as of
                2021.[447][448]
                The
                International Federation of the Phonographic Industry (IFPI) ranked her as the Global Recording Artist
                of
                the
                Year for a record three times (2014, 2019 and 2022).[449] Swift has the most number-one albums in the
                United
                Kingdom and Ireland for a female artist this millennium,[450][451] earned the highest income for an
                artist
                on
                Chinese digital music platforms (RMB 159,000,000 as of 2021),[452] and is the first artist to replace
                themselves
                at the top spot and occupy the entire top five of the Australian albums chart.[453][454] Swift remains
                the
                world's highest-grossing female touring act ever, with cumulative ticket sales at $1.96 billion as of
                November
                2023 according to Pollstar.[455] The Eras Tour is the highest-grossing tour of all time as of December
                2023,
                and
                the first to surpass $1 billion in revenue.[456] Beginning with Fearless, each of her studio albums have
                opened
                with over one million global units.[457][458] Swift is the most streamed female act on Spotify and Apple
                Music.[459][460] On Spotify, she is the only artist to have received more than 200 and 250 million
                streams
                in
                one day (260 million on October 27, 2023),[461] and the only female act to reach 100 million monthly
                listeners.[239] The most entries and the most simultaneous entries for an artist on the Billboard Global
                200,
                with 143 and 31 songs, respectively, are among her feats.[462][463]

                In the US, Swift has sold over 37.3 million albums as of 2019,[446] when Billboard placed her eighth on
                its
                Greatest of All Time Artists Chart.[464] Eleven of her songs have topped the Billboard Hot 100.[266] She
                is
                the
                longest-reigning act of the Billboard Artist 100 (95 weeks);[465] the soloist with the most cumulative
                weeks
                atop the Billboard 200 (68);[466] the woman with the most Billboard 200 number-ones (13),[239] Hot 100
                entries
                (232),[239][156] number-one debuts (6),[a] top-ten songs (49),[266] and weeks atop the Top Country
                Albums
                chart
                (101);[468] and the act with the most number-one songs on Pop Airplay (12) and Digital Songs
                (28).[469][470]
                Swift is the first woman to simultaneously chart five albums in the top 10 and eleven albums on the
                entire
                Billboard 200;[471][472] and the first act to occupy the top four spots and chart seven albums[b] in the
                top
                10
                on the Top Album Sales chart.[474][475] She is the second highest-certified female digital singles
                artist
                (and
                fifth overall) in the US, with 137.5 million total units certified by the Recording Industry Association
                of
                America (RIAA),[476] and the first woman to have both an album (Fearless) and a song ("Shake It Off")
                certified
                Diamond.[477] Swift is the only artist in Luminate history to have six albums sell over a million copies
                in
                a
                week.[478]

                Swift has appeared in various power listings. Time included her on its annual list of the 100 most
                influential
                people in 2010, 2015, and 2019.[479] She was one of the "Silence Breakers" that the magazine spotlighted
                as
                Person of the Year in 2017 for speaking up about sexual assault,[480] and received the honor again in
                2023
                for
                her cultural domination that year.[432] Time described Swift as the first Person of the Year to be
                recognized
                for "achievement in the arts", as well as the first woman to be recognized and appear on a Person of the
                Year
                cover more than once.[481][482] In 2014, she was named to Forbes' 30 Under 30 list in the music
                category[483]
                and again in 2017 in its "All-Star Alumni" category.[484] Swift became the youngest woman to be included
                on
                Forbes' list of the 100 most powerful women in 2015, ranked at number 64.[485] In 2023, she was ranked
                by
                Forbes
                as the fifth-most powerful woman in the world, the first entertainer to ever place in the top
                five.[486][487]
                Swift received an honorary Doctor of Fine Arts degree from New York University and served as its
                commencement
                speaker on May 18, 2022.
            </p>

            <h3>Wealth</h3>
            <p>
                Swift's net worth is estimated by Forbes and Bloomberg News at $1.1 billion as of October 2023, making
                her
                the
                first musician to achieve billionaire status "solely based on her songs and performances".[582][583]
                Forbes
                named her the annual top-earning female musician four times (2016, 2019, 2021, and 2022).[584] She was
                the
                highest-paid celebrity of 2016 with $170 million—a feat recognized by the Guinness World Records as the
                highest
                annual earnings ever for a female musician,[585] which she herself surpassed with $185 million in
                2019.[586]
                Overall, Forbes listed Swift as the highest-paid female artist of the 2010s, earning $825 million.[587]
                She
                has
                also developed a real estate portfolio worth $150 million as of 2023, with properties in Nashville;
                Tribeca,
                Manhattan; Los Angeles (Samuel Goldwyn Estate); and Rhode Island (High Watch).
            </p>
        </div>
    </div>
</body>
<footer>
    Credit: <a href="https://en.wikipedia.org/wiki/Taylor_Swift#">Wikipedia</a>
</footer>

</html>