<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/home.css"/>
    <title>Taylor - The Queen of Pop</title>
</head>

<body>
    <div>
        <img id="background-image" src="../images/TS_Eras_Tour_closeup.webp" alt="Taylot Swift Eras Tour image"/>
    </div>
    <div class="container">
        <h1>TAYLOR SWIFT</h1>
        <p class="ts-description">The Queen of Pop</p>
        <div class="links">
            <a class="link" href="/about">About</a>
            <a class="link" href="/works">Works</a>
            <a class="link" href="/photos">Photo Gallery</a>
        </div>
    </div>
</body>

</html>