<!DOCTYPE html>
<html lang="en">


<head>
    <link rel="stylesheet"  href="public\styles.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Parth Pishte</title>
</head>

<body>
    <header>
        <h1>About Vasanth Kumar</h1>
    </header>

    <section>
        <p>I am Vasanth Kumar, a Software Developer based in Visakhapatnam. With a passion for Computer Science, I strive to bring creativity and innovation to everything I do.</p>

        <h2>Key Information:</h2>
        <ul>
            <li><strong>Name:</strong>Vasanth Kumar </li>
            <li><strong>Location:</strong>Visakhapatnam,INDIA </li>
            <li><strong>Profession:</strong>Software Developer </li>
            <li><strong>Interests:</strong> Web dev, AI, ML </li>
        </ul>
        <p>Feel free to connect with me through .</p> 
        <div class="social-media">
            <a href="https://twitter.com/yourtwitter" target="_blank"><img src="path/to/twitter-logo.png" alt="Twitter"></a>
            <a href="https://facebook.com/yourfacebook" target="_blank"><img src="path/to/facebook-logo.png" alt="Facebook"></a>
            <!-- Add more social media links as needed -->
          </div>
    </section>
</body>

</html>