<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <a href="/images/rdjlogo.jpg" class="logo">RDJ</a>
      <nav class="navbar">
        <a href="/home" class="active">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
      </nav>
    </header>
  </body>
</html>
