<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="cont">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae distinctio magnam blanditiis deserunt, perspiciatis dolore iusto eaque incidunt. Sed expedita porro suscipit repellendus rem commodi velit culpa beatae laboriosam illum.
        Ducimus dicta unde magni ab distinctio iste sequi similique blanditiis quo quia? Deleniti reprehenderit soluta velit expedita autem sint et quis cum nemo dolores! Ad ipsam nesciunt nihil laboriosam ex!
        Veniam aut, tempore provident eligendi mollitia facilis beatae minima tenetur deserunt repellendus culpa sed molestiae eaque itaque! Voluptas assumenda fuga nisi placeat porro neque dolorum, esse ex, excepturi expedita obcaecati?
        Debitis facere, quae voluptates sed repellendus cum quos vel unde voluptatum blanditiis nisi, voluptas excepturi mollitia atque? Reprehenderit eos amet cumque rem quas, labore corporis ea provident quia, consequuntur dignissimos.
        Laboriosam nesciunt natus asperiores illo minus voluptate error voluptas totam corporis earum? Fugiat, nostrum ex corporis numquam eaque dolor enim ratione iure aut autem, officia officiis maiores odio incidunt labore.
       
        </p>

       <div class="links">
        <a href="\home">Back to home</a>
        <a href="\works">See My Works</a>
        <a href="/gallery">See My Gallery</a>
       </div>
       
    </div>

    
</body>
</html>