<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <a href="/images/rdjlogo.jpg" class="logo">RDJ</a>
      <nav class="navbar">
        <a href="/home" class="active">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/gallery">Gallery</a>
      </nav>
    </header>
    <section class="about">
      <div class="home-content">
        <h1>Life story</h1>
        <p>
          Robert John Downey Jr. was born on April 4, 1965, in Manhattan, New
          York City,the younger of two children. His father, Robert Downey Sr.,
          was an actor and filmmaker, while his mother, Elsie Ann (née Ford),
          was an actress who appeared in Downey Sr.'s films.Downey's father was
          of half Lithuanian Jewish, one-quarter Hungarian Jewish, and
          one-quarter Irish descent,while Downey's mother had Scottish, German,
          and Swiss ancestry.He and his older sister Allyson grew up in
          Greenwich Village.
        </p>
        <p>
          During his childhood, Downey had minor roles in his father's films. He
          made his acting debut at the age of five, playing a sick puppy in the
          absurdist comedy Pound (1970), and then at seven appeared in the
          surrealist Western Greaser's Palace (1972). At the age of 10, he was
          living in England and studied classical ballet as part of a larger
          curriculum. He attended the Stagedoor Manor Performing Arts Training
          Center in upstate New York as a teenager. When his parents divorced in
          1978, Downey moved to California with his father, but in 1982, he
          dropped out of Santa Monica High School, and moved back to New York to
          pursue an acting career full-time.
        </p>
      </div>
      <div class="home-sci">
        <a href="#"><i class="bx bxl-facebook"></i></a>
        <a href="#"><i class="bx bxl-twitter"></i></a>
        <a href="#"><i class="bx bxl-instagram"></i></a>
      </div>
      <span class="home-ingHover"></span>
    </section>
  </body>
</html>
