<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\public\styles.css">
    <title>About Us</title>
</head>
<body>

<header>
    <h1>About Us</h1>
</header>

<nav>
    <a href="index.html">Home</a>
    <a href="about.html">About</a>
    <a href="contact.html">Contact</a>
</nav>

<section>
    <h2>About Me</h2>
    <p>I have completed my B.E in Electronics and communication engineering with 8.8cgpa</p>
</section>

<footer>
    <p>&copy; 2023 Our Website. All rights reserved.</p>
</footer>

</body>
</html>