<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="cont">
        <h1>My Gallery</h1>
        <a href="\home">Back to Home</a>
        <div class="image">
            <img src="/images/sofa-with-pot.jpg" alt="">
            <img style="height: 200px;"  src="/images/pic20-free-img.jpg" alt="">
            <img src="/images/pic11-free-img.jpg" alt="">
            <img src=" /images/pic08-free-img.jpg" alt="">
            <img src="/images/pic04-free-img.jpg" alt="">
            <img src="/images/hero01-free-img.jpg" alt="">
        </div>
    </div>

</body>
</html>