<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Photo Gallery of Taylor Swift</title>
</head>
<body class="gallery1">
<br>
  
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/works">Works</a></li>
      <li><a href="/gallery">Gallery</a></li>
    </ul>
  </nav>
  <h1>Photo Gallery of Taylor Swift</h1>
  <div class="gallery">
    <img src="/images/taylorswift1.jpg" alt="Taylor Swift Photo 1">
    <img src="/images/taylorswift2.jpg" alt="Taylor Swift Photo 2">
    <img src="/images/taylorswift3.jpg" alt="Taylor Swift Photo 2">
   
  </div>
</body>
</html>
