<!-- about.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Alan Walker</title>
    <link rel="stylesheet" href="./public/Home.css"/>
    <link rel= "stylesheet" href="./public/style.css" />
    
</head>
<body>
    <header>
        
        <nav>
           
            <ul>
                <li><a class="Active" href="/">Home</a></li>
                <li><a href="./About.html">About</a></li>

                <li><a href="./Works.html">Works</a></li>
                <li><a href="./PhotoGallary.html">Photo Gallery</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <p>Alan Olav Walker is a British-Norwegian DJ and record producer. He is best known for his single "Faded", which received platinum certifications in over 10 different countries.</p>
        <p>Walker was born in Northampton, England, but moved to Bergen,
             Norway, with his Norwegian mother and British father at the age of two. 
             He grew up in the digital era, and began producing music on his laptop at age 14.
        </p>
        <img src="./public/alan-walker-dj-night-3d-919x517.jpg" alt="ban1"/>

    </main>
</body>
</html>

<!-- Similar content for home.html, works.html, and gallery.html -->
