<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">

</head>
<body>
    <div class="cont">
        <h1>Welcome Visitor! Hope you're doing well..</h1>

        <div class="links">
            <a href="/about">See About Page</a>
            <a href="/works">See Work Page</a>
            <a href="/gallery">See Photo Gallery Page</a>
        </div>
    </div>
     

    
</body>
</html>