<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Favorite actor</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
  </head>
  <body>
      <header class="header">
        <a href="/images/rdjlogo.jpg" class="logo">RDJ</a>
        <nav class="navbar">
            <a href="#" class="active">Home</a>
            <a href="/about">About</a>
            <a href="/works">Works</a>
        </nav>
      </header>

      <section class="home">
        <div class="home-content">
            <h1>Hello there, This is Robert Downey Jr </h1>
            <h3>My favorite movie actor of all time, this universe, the entire multiverse and beyond</h3>
            <p>Robert John Downey Jr. (born April 4, 1965) is an American actor. Downey's career has been characterized by critical success in his young adult roles and a surge in popular and commercial success after he achieved sobriety in the early 2000s. His films as a leading actor have grossed over $14 billion worldwide, making him one of the highest-grossing actors of all time.In 2008, Downey was named by Time magazine among the 100 most influential people in the world, and from 2013 to 2015, he was listed by Forbes as Hollywood's highest-paid actor.Downey is best known for playing the role of Iron Man in various Marvel films.</p>
        
            </div>
        </div>
        <div class="home-sci">
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-twitter' ></i></a>
            <a href="#"><i class='bx bxl-instagram' ></i></a>
        </div>

       <span class="home-ingHover"></span>
      </section>
  </body>
</html>
