<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Open Bootcamp Express Js Lab</title>
</head>
<body>
  <header class="main-header">
    <nav class="navbar">
      
      <ul class="nav-links">
        <div class="logo"><img src="/images/logo.svg" /><a href="/home"></a></div>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
        <div class="auth-buttons">
          <button class="login-btn">Login</button>
          <button class="get-started-btn">Get Started</button>
        </div>
      </ul>
      
    </nav>
  </header>
   
  <main class="main-content">
    <section class="main-content-section1">
      <div class="h1">
        <h1 class="h1-content-main">The most Transparent  <br /> & secure bank
          
          </h1>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit tellus augue sagittis erat consectetur est <br /> blandit blandit nec mauris pulvinar lectus duis amet tortor sit tincidunt rhoncus tincidunt.</p>
      </div>
      <div class="btn-low">
        <button class="get-start"> GET STARTED</button>
        <button class="learn-more">LEARN MORE</button>
      </div>
      <div class="image-container">
        <img src="/images/left-image.svg" alt="Left Image" class="left-image">
        <img src="/images/middle-phone.png" alt="Middle Image" class="center-image">
        <img src="/images/image-right.png" alt="Right Image" class="right-image">
      </div>
    </section>
    <section class="sliding-logos">
       <div class="logo-slider">
        <img src="/images/logo1.svg" alt="sliding logo" class="logo-slide">
        <img src="/images/logo2.svg" alt="sliding logo" class="logo-slide">
        <img src="/images/logo3.svg" alt="sliding logo" class="logo-slide">
        <img src="/images/logo4.svg" alt="sliding logo" class="logo-slide">
        <img src="/images/logo5.svg" alt="sliding logo" class="logo-slide">
        <img src="/images/logo5.svg" alt="sliding logo" class="logo-slide">
        <img src="/images/logo4.svg" alt="sliding logo" class="logo-slide">
        <img src="/images/logo5.svg" alt="sliding logo" class="logo-slide">
        <img src="/images/logo2.svg" alt="sliding logo" class="logo-slide">
       </div>
       
    </section>
    <div class="section-break"></div>
    <div class="box"><div class="div-accent-line"></div></div>

    <section class="section">
      <div class="div-inner-container">
          <div class="div-text-center-wrapper">
              <div class="div-text-center">
                  <div class="div-accent-line"></div>
                  <div class="heading">
                      <p class="text-wrapper">It have never been easier to <br> manage your finances</p>
                  </div>
                  <div class="p-wrapper">
                      <div class="p">
                          <p class="text-wrapper-3">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit eque ipsum odio justo amet,
                          </p>
                          <p class="text-wrapper-3">
                              urna, auctor. At congue vulputate augue praesent mauris eu posuere pretium tellus.
                          </p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="div-w-layout-grid">
                  <div class="container-1">
                      <img class="img" src="/images/asset1.svg" />
                      <div class="div-2">
                          <div class="mobile-and-desktop-wrapper">
                              <div class="heading-1"> <div class="text-wrapper-2">Mobile and<br />desktop app</div></div>
                          </div>
                          <div class="p-mg-bottom">
                              <p class="lorem-ipsum-dolor">Lorem ipsum dolor sit amet,<br />consectetur adipiscing elit eque</p>
                              <div class="lorem-ipsum-dolor">ipsum odio justo amet.</div>
                          </div>
                      </div>
                  </div>
                  <div class="container-2">
                    <img class="img" src="/images/asset2.svg" />
                    <div class="div-2">
                        <div class="mobile-and-desktop-wrapper">
                            <div class="heading-2"> <div class="text-wrapper-2"> Expense Reports</div></div>
                        </div>
                        <div class="p-mg-bottom">
                            <p class="lorem-ipsum-dolor">Lorem ipsum dolor sit amet,<br />consectetur adipiscing elit eque</p>
                            <div class="lorem-ipsum-dolor">ipsum odio justo amet.</div>
                        </div>
                    </div>
                </div>
                <div class="container-3">
                  <img class="img" src="/images/asset3.svg" />
                  <div class="div-2">
                      <div class="mobile-and-desktop-wrapper">
                          <div class="heading-3"> <div class="text-wrapper-3"> Crypto Support</div></div>
                      </div>
                      <div class="p-mg-bottom">
                          <p class="lorem-ipsum-dolor">Lorem ipsum dolor sit amet,<br />consectetur adipiscing elit eque</p>
                          <div class="lorem-ipsum-dolor">ipsum odio justo amet.</div>
                      </div>
                  </div>
              </div>
              <div class="conatiner-4">
                <img class="img" src="/images/asset4.svg" />
                <div class="div-2">
                    <div class="mobile-and-desktop-wrapper">
                        <div class="heading-4"> <div class="text-wrapper-4"> World-Class Support</div></div>
                    </div>
                    <div class="p-mg-bottom">
                        <p class="lorem-ipsum-dolor">Lorem ipsum dolor sit amet,<br />consectetur adipiscing elit eque</p>
                        <div class="lorem-ipsum-dolor">ipsum odio justo amet.</div>
                    </div>
                </div>
            </div>
            <div class="container-5">
              <img class="img" src="/images/asset5.svg" />
              <div class="div-2">
                  <div class="mobile-and-desktop-wrapper">
                      <div class="heading-5"><div class="text-wrapper-5"> 256-bit encryption</div></div>
                  </div>
                  <div class="p-mg-bottom">
                      <p class="lorem-ipsum-dolor">Lorem ipsum dolor sit amet,<br />consectetur adipiscing elit eque</p>
                      <div class="lorem-ipsum-dolor">ipsum odio justo amet.</div>
                  </div>
              </div>
          </div>
          <div class="container-6">
            <img class="img" src="/images/asset6.svg" />
            <div class="div-2">
                <div class="mobile-and-desktop-wrapper">
                    <div class="heading-6">Ongoing updates</div>
                </div>
                <div class="p-mg-bottom">
                    <p class="lorem-ipsum-dolor">Lorem ipsum dolor sit amet,<br />consectetur adipiscing elit eque</p>
                    <div class="lorem-ipsum-dolor">ipsum odio justo amet.</div>
                </div>
            </div>
        </div>
                 
              </div>
          </div>
          <button class="div-buttons-row">
              <a href="#" target="_blank" rel="noopener noreferrer">
                  <div class="link">
                      <div class="div-flex-horizontal">
                          <div class="get-started-wrapper">
                              <a href="#" target="_blank" rel="noopener noreferrer">
                                  <div class="get-started">GET STARTED</div>
                              </a>
                          </div>
                          <img class="div-arrow-icon" src="/images/div-arrow-icon-margin.svg" />
                      </div>
                  </div>
              </a>
          </button>
      </div>
  </section>
  
  </main>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="script.js"></script>
</html>