<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Linkin Park</title>
</head>
<body class="home1">
    <br>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/works">Works</a></li>
      <li><a href="/gallery">Gallery</a></li>
    </ul>
  </nav>

  <h1>Welcome to the Linkin Park Website</h1>
    <p>Explore the powerful sound of Linkin Park, a groundbreaking rock band that has left an indelible mark on the music industry. From their debut album "Hybrid Theory" to the experimental "Minutes to Midnight" and beyond, Linkin Park has consistently pushed boundaries and connected with fans worldwide.</p>

    <p>Discover their iconic singles, such as "In the End," "Numb," and "What I've Done," each carrying the band's signature blend of rock, rap, and electronic elements. Linkin Park's music is a journey through emotion and intensity, resonating with listeners across generations.</p>

    <p>Beyond their musical achievements, Linkin Park has engaged in philanthropy and social issues, making a positive impact beyond the stage. Join us as we celebrate the creativity, innovation, and influence of Linkin Park.</p>
</body>
</html>
