<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  
  <title>Taylor Swift</title>
</head>
<body class=" home1">
    <br>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/works">Works</a></li>
      <li><a href="/gallery">Gallery</a></li>

    </ul>
  </nav>

  <h1>Welcome to the Taylor Swift Website</h1>
    <p>Explore the enchanting world of Taylor Swift, a globally celebrated singer, songwriter, and actress. With a career that spans genres and generations, Taylor Swift has become a cultural icon known for her heartfelt lyrics, captivating melodies, and unwavering authenticity.</p>

    <p>Discover her chart-topping albums, from the country-infused tunes of "Fearless" to the pop anthems of "1989" and the emotional depth of "Red." Immerse yourself in timeless singles like "Love Story," "Shake It Off," and "Blank Space," each telling a unique story that resonates with fans worldwide.</p>

    <p>Beyond her musical prowess, Taylor Swift actively engages with her audience, using her platform to address social issues and inspire positive change. Join us on this journey to celebrate the artistry, resilience, and impact of Taylor Swift.</p>
</body>
</html>
