<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel= "stylesheet" href="./public/style.css" />
</head>
<body>
    <header>
        
        <nav>
            <ul>
                <li><a  href="/">Home</a></li>
                <li><a href="./About.html">About</a></li>
                <li><a href="./Works.html">Works</a></li>
                <li><a class="Active" href="./PhotoGallary.html">Photo Gallery</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>Hello To The World!</h1>
            <img src="https://media.gettyimages.com/id/871338404/photo/new-york-ny-dj-and-record-producer-alan-walker-visits-siriusxm-studios-on-november-7-2017-in.jpg?s=612x612&w=0&k=20&c=qyq3MsMZd2kIZgzfXT-3_BYwfSRkvko_yzf81L-FmuM="  alt=""/>
            <h1>Stuff From Tommorrow Land</h1>
            <img src="https://media.gettyimages.com/id/949293402/photo/indio-ca-alan-walker-performs-onstage-during-the-2018-coachella-valley-music-and-arts-festival.
            jpg?s=612x612&w=0&k=20&c=jg0-XtYY4xBtFdCCzqo8A45fcw65hda1AXnc_amcHHI=" alt=""/>
            <h1>Stuff From UAE</h1>
            <img src="https://media.gettyimages.com/id/1404063996/photo/fredrikstad-norwayalan-walker-performs-at-idyll-festival-at-isegran-on-june-18-2022-in.jpg?s=612x612&w=0&k=20&c=aioVXwP_wuO8l2LxP_h0FOeC3wtUiF_5j2gpU2khPtY=" alt=""/>

        </div>
    </main>
    
</body>
</html>