<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="cont">
        <h1>My Home Decor Works</h1>
        <div class="links">
            <a href="/gallery">See My Gallery</a>
            <a href="\home">Back to Home</a>
        </div>
       
        <div class="card">
            
            <div class=decor>
                <img src="/images/sofa-with-pot.jpg" alt="">
                <h2>Lorem ipsam</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda, ab. Quaerat officia maxime numquam, commodi excepturi veritatis unde accusantium dicta facere explicabo! Soluta, dolorum! Nihil aliquid officia quasi. Incidunt, vero.</p>
            </div>
            <div class="decor">
                <img style="height: 200px ;" src="/images/pic20-free-img.jpg" alt="">
                <h2>Lorem ipsam</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda, ab. Quaerat officia maxime numquam, commodi excepturi veritatis unde accusantium dicta facere explicabo! Soluta, dolorum! Nihil aliquid officia quasi. Incidunt, vero.</p>
            </div>
            <div class="decor">
                <img src="/images/pic11-free-img.jpg" alt="">
                <h2>Lorem ipsam</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda, ab. Quaerat officia maxime numquam, commodi excepturi veritatis unde accusantium dicta facere explicabo! Soluta, dolorum! Nihil aliquid officia quasi. Incidunt, vero.</p>
            </div>
            <div class="decor">
                <img src=" /images/pic08-free-img.jpg" alt="">
                <h2>Lorem ipsam</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda, ab. Quaerat officia maxime numquam, commodi excepturi veritatis unde accusantium dicta facere explicabo! Soluta, dolorum! Nihil aliquid officia quasi. Incidunt, vero.</p>
            </div>
            <div class="decor">
                <img src="/images/pic04-free-img.jpg" alt="">
                <h2>Lorem ipsam</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda, ab. Quaerat officia maxime numquam, commodi excepturi veritatis unde accusantium dicta facere explicabo! Soluta, dolorum! Nihil aliquid officia quasi. Incidunt, vero.</p>
            </div>
            <div class="decor">
                <img src="/images/hero01-free-img.jpg" alt="">
                <h2>Lorem ipsam</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda, ab. Quaerat officia maxime numquam, commodi excepturi veritatis unde accusantium dicta facere explicabo! Soluta, dolorum! Nihil aliquid officia quasi. Incidunt, vero.</p>
            </div>
        </div>
    </div>
   
    
</body>
</html>