:root {
  --green-hover: rgba(10, 114, 18, 1);
  --orange-hover: rgba(255, 204, 97, 1);
  --error-color: rgba(205, 30, 30, 1);
  --main-whte: rgba(252, 251, 251, 1);
  --dull-green: rgba(43, 106, 55, 1);
  --green-light-bg: rgba(230, 237, 231, 0.5);
  --foundation-orangeorange-50: rgba(255, 248, 232, 1);
  --foundation-orangeorange-100: rgba(255, 233, 185, 1);
  --foundation-orangeorange-200: rgba(255, 222, 151, 1);
  --foundation-orangeorange-300: rgba(255, 207, 104, 1);
  --foundation-orangeorange-400: rgba(255, 197, 74, 1);
  --foundation-orangeorange-500: rgba(255, 183, 29, 1);
  --foundation-orangeorange-600: rgba(232, 167, 26, 1);
  --foundation-orangeorange-700: rgba(181, 130, 21, 1);
  --foundation-orangeorange-800: rgba(140, 101, 16, 1);
  --foundation-orangeorange-900: rgba(107, 77, 12, 1);
  --foundation-greygrey-50: rgba(237, 237, 237, 1);
  --foundation-greygrey-100: rgba(199, 199, 199, 1);
  --foundation-greygrey-200: rgba(172, 172, 172, 1);
  --foundation-greygrey-300: rgba(134, 134, 134, 1);
  --foundation-greygrey-400: rgba(111, 111, 111, 1);
  --foundation-greygrey-500: rgba(75, 75, 75, 1);
  --foundation-greygrey-600: rgba(68, 68, 68, 1);
  --foundation-greygrey-700: rgba(53, 53, 53, 1);
  --foundation-greygrey-800: rgba(41, 41, 41, 1);
  --foundation-greygrey-900: rgba(32, 32, 32, 1);
  --foundation-greengreen-50: rgba(230, 237, 231, 1);
  --foundation-greengreen-100: rgba(178, 199, 180, 1);
  --foundation-greengreen-200: rgba(140, 172, 143, 1);
  --foundation-greengreen-300: rgba(88, 134, 92, 1);
  --foundation-greengreen-400: rgba(56, 110, 61, 1);
  --foundation-greengreen-500: rgba(6, 74, 12, 1);
  --foundation-greengreen-600: rgba(5, 67, 11, 1);
  --foundation-greengreen-700: rgba(4, 53, 9, 1);
  --foundation-greengreen-800: rgba(3, 41, 7, 1);
  --foundation-greengreen-900: rgba(3, 31, 5, 1);
  --startplytemplatewebflowiocod-gray: rgba(19, 19, 19, 1);
  --startplytemplatewebflowionero: rgba(255, 255, 255, 1);
  --startplytemplatewebflowiomalachite: rgba(6, 195, 93, 1);
  --heading-1-font-family: "Raleway-SemiBold", Helvetica;
  --heading-1-font-weight: 600;
  --heading-1-font-size: 173.2669219970703px;
  --heading-1-letter-spacing: 0px;
  --heading-1-line-height: normal;
  --heading-1-font-style: normal;
  --heading-2-font-family: "Raleway-ExtraBold", Helvetica;
  --heading-2-font-weight: 800;
  --heading-2-font-size: 132.49822998046875px;
  --heading-2-letter-spacing: 0px;
  --heading-2-line-height: normal;
  --heading-2-font-style: normal;
  --heading-3-font-family: "Raleway-Bold", Helvetica;
  --heading-3-font-weight: 700;
  --heading-3-font-size: 101.92171478271484px;
  --heading-3-letter-spacing: 0px;
  --heading-3-line-height: normal;
  --heading-3-font-style: normal;
  --heading-4-font-family: "Raleway-SemiBold", Helvetica;
  --heading-4-font-weight: 600;
  --heading-4-font-size: 78.13998413085938px;
  --heading-4-letter-spacing: 0px;
  --heading-4-line-height: normal;
  --heading-4-font-style: normal;
  --heading-5-font-family: "Raleway-Medium", Helvetica;
  --heading-5-font-weight: 500;
  --heading-5-font-size: 61.15302658081055px;
  --heading-5-letter-spacing: 0px;
  --heading-5-line-height: normal;
  --heading-5-font-style: normal;
  --heading-6-font-family: "Raleway-Medium", Helvetica;
  --heading-6-font-weight: 500;
  --heading-6-font-size: 47.5634651184082px;
  --heading-6-letter-spacing: 0px;
  --heading-6-line-height: normal;
  --heading-6-font-style: normal;
  --ahse: 2px 2px 22px 11px rgba(0, 0, 0, 0.04);
  --btn: 2px 2px 15px 1px rgba(0, 0, 0, 0.25);
  --inputs: 2px 2px 11px 3px rgba(0, 0, 0, 0.25);
  --small-neumorph: -4px -4px 30px 2px rgba(207, 201, 201, 0.15), 4px 4px 44px 5px rgba(0, 0, 0, 0.15);
  --large-neumorph: -8px -8px 45px 5px rgba(207, 201, 201, 0.11), 8px 8px 44px 5px rgba(0, 0, 0, 0.11);
  --normal-neumorph: -4px -4px 45px 5px rgba(173, 166, 166, 0.15), 4px 4px 45px 5px rgba(0, 0, 0, 0.25);
  --collection-1-selectedallchoices: none;
}
