@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  /* background: #081b29; */
  color: #ededed;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: centre;
  z-index: 100;
}
.logo {
  position: relative;
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}
.logo::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width:100%;
  height:100%;
  background:#081b29;
  animation: showRight 1s ease forwards ;
  animation-delay: .4s;
}
.navbar a {
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 3s;
}
.navbar a:hover,
.navbar a.active {
  color: #00abf0;
}
.home {
  height: 100vh;
  background: url('/images/robert.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0 10%;
}
.home-content {
  margin: 20px;
  max-width: 600px;
}
.home-content h1 {
  position: relative;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}
.home-content h1::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width:100%;
  height:100%;
  background:#081b29;
  animation: showRight 1s ease forwards ;
  animation-delay: 1s;
}
.home-content h3 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: #00abf0;
}
.home-content h3::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width:100%;
  height:100%;
  background:#081b29;
  animation: showRight 1s ease forwards ;
  animation-delay: 1.3s;
}
.home-content p {
  position:relative;
  font-size: 16px;
}
.home-content p::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width:100%;
  height:100%;
  background:#081b29;
  animation: showRight 1s ease forwards ;
  animation-delay: 1.6s;
}
.home-sci {
  position: absolute;
  bottom: 40px;
  width: 170px;
  display: flex;
  justify-content: space-between;
}
.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid;
  border-radius: 50%;
  font-size: 20px;
  color: #00abf0;
  text-decoration: none;
  z-index: -1;
  overflow: hidden;
  transition:5s;

}
.home-sci a:hover{
    color: #081b29;
}
.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height:100%;
    background:#00abf0;
    z-index: -1;
    transition: .5s;

}
.home-sci a:hover::before{
    width: 100%;
}

.home-ingHover{
  position: absolute;
  top:0;
  right:30px;
  width: 500px;
  height:100% ;
  background:transparent ;
  /* border:2px solid red; */
  transition: 3s;
}
.home-ingHover:hover{
  background: #081b29;
  opacity: .8;
}


/* KEYFRAMES ANIMATION */
@keyframes showRight {
  100%{
    width:0;
  }
}

/* about section and gallery */
.about {
  height: 100vh;
  background: url('/images/robertrdj.jpg') no-repeat;
  background-size: contain;
  background-color: #081b29;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0 10%;
}
.gallery{
  padding: 20px;
  background: #081b29;
  background-size: cover;

}
.gallery table{
  width: 100%;
  border-collapse: collapse;
}

.gallery td{
  padding:10px;
  vertical-align: bottom;
}
.gallery img{
  max-width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}
