<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
<h1>
    <p>
        Dwayne Douglas Johnson (born May 2, 1972), also known by his ring name The Rock,[3] is an American actor, producer, businessman, and former professional wrestler.[6][7] Widely regarded as one of the greatest professional wrestlers of all time,[8][9] he was integral to the development and success of the WWE during the Attitude Era, an industry boom period in the late 1990s and early 2000s. Johnson wrestled for WWF/E for eight years prior to pursuing an acting career and during his wrestling career. His films have grossed over $3.5 billion in North America and over $10.5 billion worldwide,[10] making him one of the world's highest-grossing and highest-paid actors.
    </p>
</h1>
<div class="divOne">
<button class="buttonTwo">Home</button>
</div>
</body>
</html>